[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/6reddy6
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/6reddy6
	label-Verified = -1..+1 group user/6reddy6
	push = group user/6reddy6
	read = group user/6reddy6
	rebase = group user/6reddy6
	removeReviewer = group user/6reddy6
	submit = group user/6reddy6
[access "refs/heads/*"]
	create = group user/6reddy6
	push = +force group user/6reddy6
	pushMerge = group user/6reddy6
	read = group user/6reddy6
[access "refs/tags/*"]
	push = group user/6reddy6
	push = +force group user/6reddy6
